<p style="font-family:Comic Sans MS;">This is a website developed using Sinatra.On this website admin(me, in this case) can see all of the students in the database,add a new student, show each students information, Edit each students information and delete a student.If you visit the Student section of the website, you will see that each student has firstname,lastname,birthday,address,student id associated with him/her.This makes it easier to identify different students.Additionally,within the comment section, user can do the following:
<p style="font-family:Comic Sans MS;">- see all the comments (with timestamp)</p>
<p style="font-family:Comic Sans MS;">- create new comment</p>
<p style="font-family:Comic Sans MS;">Ofcourse you need to be logged in to utilize these features.
And finally within the video section there is a short mp4 video describing how amazing the campus of Google is.</p> 
<p style="font-family:Comic Sans MS;">Heroku is a great platform to deploy your webpage!</p>
