<p style="text-align:center;,font-family:Comic Sans MS;"> <b>Developed by :</b> Ninad Sant</p>
    <p style="text-align:center;,font-family:Comic Sans MS;"><b>Email id :</b> nsant@scu.edu</p>
    <p style="text-align:center;,font-family:Comic Sans MS;"><b>Course:</b> Advance Web Programming</p>
    <p style="text-align:center;,font-family:Comic Sans MS;"><b>Thank you!</b></p>

