<form method="POST" action="/login">
	<b>User Name:</b><br>
		<input type="username" name="username"><br>
	<b>Password:</b><br>
		<input type="password" name="password"><br>
	<button type="login" name="login"><b>Log In</b></button><br>
</form>